html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
#maze {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.node {
    border: 1px solid #444;
    width: 20px;
    height: 20px;
    margin-left: -1px;
    margin-top: -1px;
    background-color: #fff;
}
.node-blocked {
    background-color: #444;
}

@keyframes animateIn {
    from {
        background-color: #fff;
    }
    to {
        background-color: #cc0000;
    }
}

.node-visited {
    animation-name: animateIn;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
}
